
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');


.overlay {
    background-color: rgba(0, 0, 0, 0.53);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .content h1 {
    font-weight: 600;
  }
  #text-wrapper {
    width: 70%;
  }

  #title{


    background: linear-gradient(to right, rgb(232, 232, 255) 20%, rgb(255, 210, 12) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 
    color:white;
    font-size: 5rem;
    margin-bottom: 0cm;
  }
  #text-wrapper p{
    color:rgb(255, 255, 255);
    font-family: "Poppins", sans-serif;
  }

  #button-1, #button-2{
    background-color: rgb(253, 202, 62);
    height: 2.5rem;
    width:8rem;
    border:none;
    font-size: 1.2rem;
    margin:5px;
    color:rgb(51, 51, 51);
    border-radius: 20px;
    cursor: pointer;

  }